<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.johnwong.byr-ip</string>
       <key>Developer Identifier</key>
       <string>KC63T62SBR</string>
       <key>CFBundleVersion</key>
       <string>1.8</string>
       <key>CFBundleShortVersionString</key>
       <string>1.8</string>
       <key>URL</key>
       <string>https://github.com/JohnWong/byr-location/releases/download/1.8/byr-location.safariextz</string>
     </dict>
   </array>
</dict>
</plist>