<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>John Wong</string>
	<key>Builder Version</key>
	<string>11601.3.9</string>
	<key>CFBundleDisplayName</key>
	<string>BYR IP to Location</string>
	<key>CFBundleIdentifier</key>
	<string>com.johnwong.byr-ip</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleVersion</key>
	<string>1.7</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>content.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Shows geo location of every post in byr/newsmth bbs</string>
	<key>DeveloperIdentifier</key>
	<string>KC63T62SBR</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>bbs.byr.cn</string>
				<string>bbs6.byr.cn</string>
				<string>forum.byr.cn</string>
				<string>bbs.byr.edu.cn</string>
				<string>bbs6.byr.edu.cn</string>
				<string>forum.byr.edu.cn</string>
				<string>www.newsmth.net</string>
				<string>m.byr.cn/article</string>
				<string>m.newsmth.net/article</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/JohnWong/byr-location</string>
</dict>
</plist>
